@import "tailwindcss";

@theme {
  --font-inter-bold: "Inter Bold", sans-serif;
  --font-inter-semibold: "Inter Semi-Bold", sans-serif;
  --font-inter-regular: "Inter Regular", sans-serif;
  --font-inter-medium: "Inter Medium", sans-serif;
}

@layer base {
  input:not(:placeholder-shown) + label,
  input:focus + label {
    transform: translateY(-24px);
    background: white;
    padding: 0 5px;
    font-size: 12px;
  }
  body {
  }

  @font-face {
    font-family: "Inter Bold";
    src:
      local("Inter Bold"),
      url(../fonts/Inter-Bold.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter Semi-Bold";
    src:
      local("Inter Semi-Bold"),
      url(../fonts/Inter-Semi-Bold.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter Regular";
    src:
      local("Inter Regular"),
      url(../fonts/Inter-Regular.woff2) format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Inter Medium";
    src:
      local("Inter Medium"),
      url(../fonts/Inter-Medium.woff2) format("woff2");
    font-display: swap;
  }
}
@layer utilities {
  .scene {
    perspective: 1800px;
  }

  .card {
    transform-style: preserve-3d;
    transition: transform 0.9s cubic-bezier(0.65, 0, 0.35, 1);
  }

  .card.is-flipped {
    transform: rotateY(180deg);
  }

  .face {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .face-back {
    transform: rotateY(180deg);
  }
}
